.michrochip_range .form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.michrochip_range #michrochip_start_range {
    /* background:red; */
    width: 30%;
    padding: 8px;
    margin-top: 20px;
}



.michrochip_range #searchWithMicroChip {
    background: #1e83d3;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}

.wp-admin .acc-blue-box {
    /*background: red;
    *//*padding: 0 50px;
    */margin-top: 40px;
    border: 1px solid #69a1e0;
    border-radius: 12px;
    width: 80%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.wp-admin .row {
    justify-content: space-between;
}

.wp-admin .bold_area { 
    font-size: 15px;
    padding-right: 10px;
    color: #000;
    line-height: 2;
}

.wp-admin .bold_child_sub {
    font-size: 15px;
    padding-right: 10px;
    color: #000;
}
.wp-admin .acc-blue-head {
    background: #2196f3;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px 0px 0 0px;
}
.wp-admin .acc-blue-content {
    padding: 0 50px;
    padding-bottom: 50px;
}
.wp-admin img {
    padding-top: 50px;
}
.wp-admin .bold_child_sub a {
    text-decoration: none;
}
.wp-admin #wpfooter {
    position: relative;
   
}
.wp-admin .form-group {
    position: relative;
}

.wp-admin .michrochip_start_range{
    position: absolute;
    bottom: -29px;
    left: 2px;
}

/*loader*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-outer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}


#customers td, #customers  th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even)
{background-color: #f2f2f2;}

#customers tr:hover 
{background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #71a3c0
  color: white;
}

table#customers > tbody > tr > td > a {
    color: #161515;
}
.table-section {
    width: 100% !important;
}


input#searchCustom {
    width: 80%;
    padding: 8px;
    margin-top: 30px;
}
.search-row {
    margin-top: 50px;
}
button#searchCustomfunctionality {
    background: #1e83d3;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}